* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    font-family: helvetica;
}

.container {
  height: 1610px;
  width: 1197px;
  background-color: #141414;
  padding: 50px 40px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top .straps {
  min-width: 50vw;
  padding-right: 12vw;
}

.top .holes {
  justify-content: right;
  min-width: 45vw;
  padding-right: 8.5vw;
}

.top .priceTitle{
  min-height: 21vh;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.top .feesHeader{
  color: #A0A3A6;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.top .feesList {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.top .feesList > p {
  padding: 10px 0;
}

.top .includes {
  color: #A0A3A6;
  font-size: 18px;
  padding: 8px 0;
}

.top ul {
  color: #A0A3A6;
  list-style-image: url('assets/tick.svg');
  list-style-position: inside;
}

.top ul li {
  font-size: 22px;
  margin: 16px 0;
}

hr {
  opacity: 0.3;
  margin: 17px 0;
  background-color: #2f2f2f;
}

.middle .learn {
  display: flex;
  background-color: rgb(54, 54, 54);
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 5.7vw;
  margin-bottom: 3.5vw;
  color: #fff;
}

.middle .leftTitle {
  display: flex;
  align-items: center;
}

.middle .leftTitle > i {
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 0.9px;
}

.learn > button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 22px;
  letter-spacing: 2.2px;
  cursor: pointer;
}

.learn > button:hover {
  background-color: #fff;
  color: #000;
}

.sign {
  width: 212px;
  height: 50px;
  font-size: 18px;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #26B068;
  cursor: pointer;
  margin-bottom: 10vw;
}

.mobileCom {
  display: none;
}

.middle table {
  width: 100%;
  color: #BAB8AF;
  border-collapse: collapse;
  line-height: 30px;
}

tr {
  height: 5.6vh;
  border-bottom: 1px solid #2f2f2f;
  text-align: center;
}

tr td:first-child {
  text-align: left;
}

.firstCom {
  text-align: left;
  color: #fff;
  font-size: 20px;
}

.mobileFirst {
  display: none;
}

tr td:nth-child(1) {
  width: 40%;
  padding-right: 15%;
}

tr td:nth-child(2) {
  width: 10%;
  background-color: #2f2f2f;
  border-radius: 5%;
}

tr td:nth-child(3) {
  width: 20%;
}

tr td:nth-child(4) {
  width: 20%;
}

tr td:nth-child(5) {
  width: 10%;
}

.example tr {
  height: 11vh;
}

.example .including {
  font-size: 13px;
}

.exam {
  text-align: left;
  color: #fff;
  font-size: 20px;
}

.bottom .foot {
  color: #BAB8AF;
  text-decoration: underline;
  margin-top: 5vw;
}